::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #1d062b;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(147deg, #ce93d8 0%, #8c1cd1 74%);
  border-radius: 100vw;
}
