.NavBar .MobileNavigation {
  display: none;
}
.NavBar .MobileNavigation .hamburguer {
  color: #000;
  size: 40px;
}
@media (max-width: 750px) {
  .NavBar .Navigation {
    display: none;
  }
  .NavBar .MobileNavigation {
    display: flex;
    align-items: center;
  }
}
